# Movie Recommendation System

### Masooma Zahra -088
### Sarah Choudry -097

Importing libraries

In [56]:
import numpy as np
import pandas as pd
import os

# Data Loading

In [57]:
movies=pd.read_csv('Data\Tmdb_5000_movies.csv')
credits=pd.read_csv('Data\Tmdb_5000_credits.csv')

# Data Analysis

In [58]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [59]:
movies.shape

(4803, 20)

In [60]:
credits.shape

(4803, 4)

In [61]:
movies=movies.merge(credits, on="title")

In [62]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [63]:
movies.shape

(4809, 23)

Columns in the dataset

In [64]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

Relevent columns

In [65]:
movies=movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [66]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [67]:
movies.shape

(4809, 7)

Missing

In [68]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

Dropping missing

In [69]:
movies.dropna(inplace=True)

In [70]:
movies.iloc[1]['genres']

'[{"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 28, "name": "Action"}]'

Converting str to a list

In [71]:
import ast
def convert(text):
    list=[]
    for i in ast.literal_eval(text):
        list.append(i['name'])
    return list

storing

In [72]:
movies['genres']=movies['genres'].apply(convert)

In [73]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

Doing the same for keywords, cast and crew as we did for genres

In [74]:
movies.iloc[1]['keywords']

'[{"id": 270, "name": "ocean"}, {"id": 726, "name": "drug abuse"}, {"id": 911, "name": "exotic island"}, {"id": 1319, "name": "east india trading company"}, {"id": 2038, "name": "love of one\'s life"}, {"id": 2052, "name": "traitor"}, {"id": 2580, "name": "shipwreck"}, {"id": 2660, "name": "strong woman"}, {"id": 3799, "name": "ship"}, {"id": 5740, "name": "alliance"}, {"id": 5941, "name": "calypso"}, {"id": 6155, "name": "afterlife"}, {"id": 6211, "name": "fighter"}, {"id": 12988, "name": "pirate"}, {"id": 157186, "name": "swashbuckler"}, {"id": 179430, "name": "aftercreditsstinger"}]'

In [75]:
movies['keywords'].apply(convert)

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4804    [united statesâ€“mexico barrier, legs, arms, pap...
4805                                                   []
4806    [date, love at first sight, narration, investi...
4807                                                   []
4808            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4806, dtype: object

In [76]:
movies['keywords']=movies['keywords'].apply(convert)

In [77]:
movies['cast']=movies['cast'].apply(convert)

In [78]:
movies['crew']=movies['crew'].apply(convert)

In [79]:
movies.head(2) #all of these have been converted to a list

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."

In [80]:
movies.iloc[0]['overview']

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

Converting overview into a list too, so that we can contatenate all these

In [81]:
movies['overview']=movies['overview'].apply(lambda x:x.split()) #lambda func will turn each word into an element in the list
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe..."

Concatenating all

In [82]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [83]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[Stephen E. Rivkin, Rick Carter, Christopher B...","[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...","[Captain, Barbossa,, long, believed, to, be, d..."

In [84]:
movies.iloc[0]['tags']

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'Action',
 'Adventure',
 'Fantasy',
 'Science Fiction',
 'culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d',
 'Sam Worthington',
 'Zoe Saldana',
 'Sigourney Weaver',
 'Stephen Lang',
 'Michelle Rodriguez',
 'Giovanni Ribisi',
 'Joel David Moore',
 'CCH Pounder',
 'Wes Studi',
 'Laz Alonso',
 'Dileep Rao',
 'Matt Gerald',
 'Sean Anthony Moran',
 'Jason Whyte',
 'Scott Lawrence',
 'Kelly Kilgour',
 'James Patrick Pitt',
 'Sean Patrick Murphy',
 'Peter Dillon',
 'Kevin Dorman',
 'Kelson Henderson',
 'David Van Horn',
 'Jacob Tomuri',
 'Michael Blain-Rozgay',
 'Jon Curry',
 'Luke Hawker',
 'Woody Schultz',
 'Peter Mensah',
 'Sonia Yee',
 'Jahnel Curfman',
 'Ilram Choi',
 'Kyla Warren',
 'Lisa Roumain',
 'Debra Wilson',
 'Chris Mala',
 'Taylor Kibby',
 'Jodie Landau',
 'Julie Lamm',
 'Cullen B. Madden',
 'Joseph Brady Madden',
 'Frankie Torres',
 'Austin Wilson',
 'Sara Wilson',
 'Tamica Washington-Miller',
 'Lucy Briant',
 'Nathan Meister',
 'Gerry Blair',
 'Matthew Chamberlain',
 'Paul Yates',
 'Wray Wilson',
 'James Gaylyn',
 'Melvin Leno Clark III',
 'Carvon Futrell',
 'Brandon Jelkes',
 'Micah Moch',
 'Hanniyah Muhammad',
 'Christopher Nolen',
 'Christa Oliver',
 'April Marie Thomas',
 'Bravita A. Threatt',
 'Colin Bleasdale',
 'Mike Bodnar',
 'Matt Clayton',
 'Nicole Dionne',
 'Jamie Harrison',
 'Allan Henry',
 'Anthony Ingruber',
 'Ashley Jeffery',
 'Dean Knowsley',
 'Joseph Mika-Hunt',
 'Terry Notary',
 'Kai Pantano',
 'Logan Pithyou',
 'Stuart Pollock',
 'Raja',
 'Gareth Ruck',
 'Rhian Sheehan',
 'T. J. Storm',
 'Jodie Taylor',
 'Alicia Vela-Bailey',
 'Richard Whiteside',
 'Nikie Zambo',
 'Julene Renee',
 'Stephen E. Rivkin',
 'Rick Carter',
 'Christopher Boyes',
 'Christopher Boyes',
 'Mali Finn',
 'James Horner',
 'James Cameron',
 'James Cameron',
 'James Cameron',
 'James Cameron',
 'James Cameron',
 'Andrew Menzies',
 'Jill Brooks',
 'Margery Simkin',
 'Kevin Ishioka',
 'Dick Bernstein',
 'Shannon Mills',
 'Dennie Thorpe',
 'Jana Vance',
 'Deborah Lynn Scott',
 'Jon Landau',
 'Sean Haworth',
 'Kim Sinclair',
 'Kim Sinclair',
 'Richard F. Mays',
 'Laeta Kalogridis',
 'Mayes C. Rubeo',
 'Mauro Fiore',
 'Scott Herbertson',
 'Woody Schultz',
 'Linda DeVetta',
 'Linda DeVetta',
 'Richard Bluck',
 'Simon Bright',
 'Richard Martin',
 'Steve R. Moore',
 'John Refoua',
 'Karl J. Martin',
 'Chiling Lin',
 'Ilram Choi',
 'Steven Quale',
 'Carla Meyer',
 'Nick Bassett',
 'Jill Cormack',
 'Andy McLaren',
 'Terry Notary',
 'Garrett Warren',
 'Jonathan Rothbart',
 'Stefan Dechant',
 'Todd Cherniawsky',
 'Miranda Rivers',
 'Robert Stromberg',
 'John Harding',
 'Roberto De Angelis',
 'Mike Smithson',
 'Alain Lalanne',
 'Lucas Salton',
 'Janace Tashjian',
 'Stephen Rosenbaum',
 'Frankie Karena',
 'Lisa Lovaas',
 'Jonathan Fawkner',
 'Robert Bavin',
 'Anthony Almaraz',
 'Carolyn M. Fenton',
 'Beth Koenigsberg',
 'Sam Page',
 'Tex Kadonaga',
 'Kim Foscato',
 'Tammy S. Lee',
 'Denny Caira',
 'James Waitkus',
 'Addison Teague',
 'C. Scott Baker',
 'Luke Caska',
 'David Chow',
 'Jonathan Dyer',
 'Joseph Hiura',
 'Rebecca Jellie',
 'Robert Andrew Johnson',
 'Mike Stassi',
 'John Villarino',
 'Jeffrey Wisniewski',
 'Cheryl Nardi',
 'Marshall Winn',
 'Gwendolyn Yates Whittle',
 'William Stein',
 'Lula Washington',
 'Chris Del Conte',
 'R. Christopher White',
 'Dan Lemmon',
 'Tim Nielsen',
 'Michael Mulholland',
 'Thomas Nittmann',
 'Edson Williams',
 'Christine Carr',
 'John Bruno',
 'David Emmerichs',
 'Christopher Scarabosio',
 'Jennifer Teves',
 'Brigitte Yorke',
 'Ken Fischer',
 'Iain Hutton',
 'Steve Ingram',
 'Joyce Cox',
 'Jenny Foster',
 'Christopher Marino',
 'Jim Milton',
 'Cyndi Ochs',
 'Lucas Putnam',
 "Anthony 'Max' Ivins",
 'John Knoll',
 'Eric Saindon',
 'Wayne Stables',
 'David Stinnett',
 'Guy Williams',
 'Stuart Thorp',
 'Giles Coburn',
 'Mark Fellman',
 'Scott Sprague',
 'Jeremy Hollobon',
 'Orlando Meunier',
 'Taisuke Tanimura',
 'Lilia Mishel Acevedo',
 'Alejandro M. Hernandez',
 'Marvin Hall',
 'Judy Alley',
 'Mike Perry',
 'Andrew Morley',
 'Seth Engstrom',
 'Eric Oliver',
 'Matsune Suzuki',
 'Paul Tobin',
 'Roxane Griffin',
 'Arun Ram-Mohan',
 'Georgia Lockhart-Adams',
 'Thrain Shadbolt',
 'Brad Alexander',
 'Shadi Almassizadeh',
 'Simon Clutterbuck',
 'Graeme Demmocks',
 'Adrian Fernandes',
 'Mitch Gates',
 'Jerry Kung',
 'Andy Lomas',
 'Sebastian Marino',
 'Matthias Menz',
 'Sergei Nevshupov',
 'Philippe Rebours',
 'Michael Takarangi',
 'David Weitzberg',
 'Ben White',
 'Min Windle']

Making a new data frame to keep necessary columns and dropping extra columns

In [85]:
new_df = movies[['movie_id','title','tags']]

In [86]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

Converting list to str

In [87]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df.head()

C:\Users\Hamza\AppData\Local\Temp\ipykernel_13676\1955922539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [88]:
new_df.iloc[1]['tags']

"Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the Earth with Will Turner and Elizabeth Swann. But nothing is quite as it seems. Adventure Fantasy Action ocean drug abuse exotic island east india trading company love of one's life traitor shipwreck strong woman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger Johnny Depp Orlando Bloom Keira Knightley Stellan SkarsgÃ¥rd Chow Yun-fat Bill Nighy Geoffrey Rush Jack Davenport Kevin McNally Tom Hollander Naomie Harris Jonathan Pryce Keith Richards Lee Arenberg Mackenzie Crook Greg Ellis David Bailie Martin Klebba David Schofield Lauren Maher Vanessa Branch Angus Barnett Giles New Reggie Lee Dominic Scott Kay Takayo Fischer David Meunier Ho-Kwan Tse Andy Beckwith Peter Donald Badalamenti II Christopher S. Capp Keith Richards Hakeem Kae-Kazim Ghassan Massoud Dariusz Wolski Gore Verbinski Jerry Bruckheimer Ted Elliott Terry Rossio Stephen E. Rivkin Craig Wood Hans Zimmer Mike Stenson Eric McLeod Chad Oman Peter Kohn Pat Sandston Denise Chamian Rick Heinrichs John Dexter Priscilla John Cheryl Carasik Liz Dann Penny Rose Bob Badami James Ward Byrkit Ve Neill John Dixon Dottie Starling Pamela Alch Allen Hall Melissa Muik Sharron Reynolds Barbara McDermott Karen Golden Katie Greathouse"

In [89]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\Hamza\AppData\Local\Temp\ipykernel_13676\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [90]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [91]:
new_df.iloc[0]['tags']

"in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy science fiction culture clash future space war space colony society space travel futuristic romance space alien tribe alien planet cgi marine soldier battle love affair anti war power relations mind and soul 3d sam worthington zoe saldana sigourney weaver stephen lang michelle rodriguez giovanni ribisi joel david moore cch pounder wes studi laz alonso dileep rao matt gerald sean anthony moran jason whyte scott lawrence kelly kilgour james patrick pitt sean patrick murphy peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curry luke hawker woody schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chris mala taylor kibby jodie landau julie lamm cullen b. madden joseph brady madden frankie torres austin wilson sara wilson tamica washington-miller lucy briant nathan meister gerry blair matthew chamberlain paul yates wray wilson james gaylyn melvin leno clark iii carvon futrell brandon jelkes micah moch hanniyah muhammad christopher nolen christa oliver april marie thomas bravita a. threatt colin bleasdale mike bodnar matt clayton nicole dionne jamie harrison allan henry anthony ingruber ashley jeffery dean knowsley joseph mika-hunt terry notary kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodie taylor alicia vela-bailey richard whiteside nikie zambo julene renee stephen e. rivkin rick carter christopher boyes christopher boyes mali finn james horner james cameron james cameron james cameron james cameron james cameron andrew menzies jill brooks margery simkin kevin ishioka dick bernstein shannon mills dennie thorpe jana vance deborah lynn scott jon landau sean haworth kim sinclair kim sinclair richard f. mays laeta kalogridis mayes c. rubeo mauro fiore scott herbertson woody schultz linda devetta linda devetta richard bluck simon bright richard martin steve r. moore john refoua karl j. martin chiling lin ilram choi steven quale carla meyer nick bassett jill cormack andy mclaren terry notary garrett warren jonathan rothbart stefan dechant todd cherniawsky miranda rivers robert stromberg john harding roberto de angelis mike smithson alain lalanne lucas salton janace tashjian stephen rosenbaum frankie karena lisa lovaas jonathan fawkner robert bavin anthony almaraz carolyn m. fenton beth koenigsberg sam page tex kadonaga kim foscato tammy s. lee denny caira james waitkus addison teague c. scott baker luke caska david chow jonathan dyer joseph hiura rebecca jellie robert andrew johnson mike stassi john villarino jeffrey wisniewski cheryl nardi marshall winn gwendolyn yates whittle william stein lula washington chris del conte r. christopher white dan lemmon tim nielsen michael mulholland thomas nittmann edson williams christine carr john bruno david emmerichs christopher scarabosio jennifer teves brigitte yorke ken fischer iain hutton steve ingram joyce cox jenny foster christopher marino jim milton cyndi ochs lucas putnam anthony 'max' ivins john knoll eric saindon wayne stables david stinnett guy williams stuart thorp giles coburn mark fellman scott sprague jeremy hollobon orlando meunier taisuke tanimura lilia mishel acevedo alejandro m. hernandez marvin hall judy alley mike perry andrew morley seth engstrom eric oliver matsune suzuki paul tobin roxane griffin arun ram-mohan georgia lockhart-adams thrain shadbolt brad alexander shadi almassizadeh simon clutterbuck graeme demmocks adrian fernandes mitch gates jerry kung andy lomas sebastian marino matthias menz sergei nevshupov philippe rebours michael takarangi david weitzberg ben white min windle"

In [92]:
import nltk
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [93]:
def stems(text):
    T = []
    
    for i in text.split():
        T.append(ps.stem(i))
    
    return " ".join(T)

In [94]:
new_df['tags'] = new_df['tags'].apply(stems)

C:\Users\Hamza\AppData\Local\Temp\ipykernel_13676\3973021881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stems)

In [95]:
new_df.iloc[0]['tags']

"in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi scienc fiction cultur clash futur space war space coloni societi space travel futurist romanc space alien tribe alien planet cgi marin soldier battl love affair anti war power relat mind and soul 3d sam worthington zoe saldana sigourney weaver stephen lang michel rodriguez giovanni ribisi joel david moor cch pounder we studi laz alonso dileep rao matt gerald sean anthoni moran jason whyte scott lawrenc kelli kilgour jame patrick pitt sean patrick murphi peter dillon kevin dorman kelson henderson david van horn jacob tomuri michael blain-rozgay jon curri luke hawker woodi schultz peter mensah sonia yee jahnel curfman ilram choi kyla warren lisa roumain debra wilson chri mala taylor kibbi jodi landau juli lamm cullen b. madden joseph bradi madden franki torr austin wilson sara wilson tamica washington-mil luci briant nathan meister gerri blair matthew chamberlain paul yate wray wilson jame gaylyn melvin leno clark iii carvon futrel brandon jelk micah moch hanniyah muhammad christoph nolen christa oliv april mari thoma bravita a. threatt colin bleasdal mike bodnar matt clayton nicol dionn jami harrison allan henri anthoni ingrub ashley jefferi dean knowsley joseph mika-hunt terri notari kai pantano logan pithyou stuart pollock raja gareth ruck rhian sheehan t. j. storm jodi taylor alicia vela-bailey richard whitesid niki zambo julen rene stephen e. rivkin rick carter christoph boy christoph boy mali finn jame horner jame cameron jame cameron jame cameron jame cameron jame cameron andrew menzi jill brook margeri simkin kevin ishioka dick bernstein shannon mill denni thorp jana vanc deborah lynn scott jon landau sean haworth kim sinclair kim sinclair richard f. may laeta kalogridi may c. rubeo mauro fior scott herbertson woodi schultz linda devetta linda devetta richard bluck simon bright richard martin steve r. moor john refoua karl j. martin chile lin ilram choi steven qual carla meyer nick bassett jill cormack andi mclaren terri notari garrett warren jonathan rothbart stefan dechant todd cherniawski miranda river robert stromberg john hard roberto de ang mike smithson alain lalann luca salton janac tashjian stephen rosenbaum franki karena lisa lovaa jonathan fawkner robert bavin anthoni almaraz carolyn m. fenton beth koenigsberg sam page tex kadonaga kim foscato tammi s. lee denni caira jame waitku addison teagu c. scott baker luke caska david chow jonathan dyer joseph hiura rebecca jelli robert andrew johnson mike stassi john villarino jeffrey wisniewski cheryl nardi marshal winn gwendolyn yate whittl william stein lula washington chri del cont r. christoph white dan lemmon tim nielsen michael mulholland thoma nittmann edson william christin carr john bruno david emmerich christoph scarabosio jennif teve brigitt york ken fischer iain hutton steve ingram joyc cox jenni foster christoph marino jim milton cyndi och luca putnam anthoni 'max' ivin john knoll eric saindon wayn stabl david stinnett guy william stuart thorp gile coburn mark fellman scott spragu jeremi hollobon orlando meunier taisuk tanimura lilia mishel acevedo alejandro m. hernandez marvin hall judi alley mike perri andrew morley seth engstrom eric oliv matsun suzuki paul tobin roxan griffin arun ram-mohan georgia lockhart-adam thrain shadbolt brad alexand shadi almassizadeh simon clutterbuck graem demmock adrian fernand mitch gate jerri kung andi loma sebastian marino matthia menz sergei nevshupov philipp rebour michael takarangi david weitzberg ben white min windl"

In [96]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [97]:
vector = cv.fit_transform(new_df['tags']).toarray()

In [98]:
vector[0]

array([0, 0, 0, ..., 0, 0, 0])

In [99]:
vector.shape

(4806, 5000)

In [100]:
from sklearn.metrics.pairwise import cosine_similarity

In [101]:
similarity = cosine_similarity(vector)

In [102]:
similarity.shape

(4806, 4806)

In [103]:
new_df[new_df['title'] == "The Lego Movie"].index[0]

np.int64(744)

In [104]:
def recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [105]:
recommend("Pirates of the Caribbean: At World's End")

Pirates of the Caribbean: Dead Man's Chest
Pirates of the Caribbean: On Stranger Tides
Pirates of the Caribbean: The Curse of the Black Pearl
Captain America: The First Avenger
A.I. Artificial Intelligence

In [106]:
recommend("The Dark Knight Rises")

The Dark Knight
Jurassic World
Batman Begins
15 Minutes
The Prestige

In [107]:
import pickle

In [108]:
pickle.dump(new_df,open('Artifacts/movies_list.pkl','wb'))
pickle.dump(similarity,open('Artifacts/similarity.pkl','wb'))